{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}Generales Nacional 2019 | Panel de administración {% endblock %}

{% block branding %}
<h1 id="site-name"><img src="{% static 'img/favicon.png' %}" /><a href="{% url 'admin:index' %}">PASO Nacional 2019</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block userlinks %}
    <a href="{% url 'mapa' %}">Mapa</a> /

    <a href="{% url 'admin:fiscales_fiscal_changelist' %}">Fiscales</a> /

    <a href="{% url 'admin:elecciones_lugarvotacion_changelist' %}">Escuelas</a> /

    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
