{% extends "material/frontend/base_lockscreen.html" %}
{% load i18n material_form %}

{% block title %}{% trans 'Log in' %} - {{ block.super }}{% endblock %}

{% block content %}
<h6>{{ title }}</h6>

{% if validlink %}
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="{{ app_path }}" method="post" >{% csrf_token %}
    {% form %}{% endform %}

    <div class="action right-align">
        <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
    </div>
</form>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}


{% endblock %}

{% block icon %}account_circle{% endblock %}