{% extends "material/frontend/base_lockscreen.html" %}
{% load i18n material_form %}

{% block title %}{% trans 'Log in' %} - {{ block.super }}{% endblock %}

{% block content %}
<h6>{{ title }}</h6>
<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
{% endblock %}

{% block icon %}account_circle{% endblock %}