.arbol-distrito li.active {
  background-color: inherit !important;
}

.arbol-distrito li.selected {
  background-color: rgba(0,0,0,.05);
}

.arbol-distrito .collapsible-body li .collapsible-header i {
  padding-left: 0px;
  margin-left: 15px;
}

.arbol-distrito .collapsible-body li .collapsible-header a {
  margin-left: 0px;
  padding-left: 0px;
}

.arbol-distrito .collapsible-body li .collapsible-body li a {
  color: #039be5;
  font-weight: normal;
}

.arbol-distrito .collapsible-body li .collapsible-body li .collapsible-header i {
  padding-left: 0px;
  margin-left: 30px;
}

.arbol-distrito .collapsible-body li .collapsible-body li .collapsible-header a {
  padding-left: 0px;
  color: #039be5;
}

.arbol-distrito .collapsible-body li .collapsible-body li .collapsible-body li a {
  color: #039be5;
  font-weight: normal;
}
