nav.topbar .brand-logo {
  font-size: 1.5rem;
}

.filtros {
  line-height: 1.5;
  height: 80px;
}

.filtros label {
  color: white;
  font-weight: 100;
}

table tbody.resultado_detalle{
    display:none;
}

tr.fila_detalle {
    line-height: 1;
}


#header_titulo {
    text-align: center;
}

#partido {
    width: 70%;
    text-align: left;
}

#header_votos {
    text-align: center;
    background: #01579b;
    color: white;
    font-weight: bold;
}

tr.partido > td {
    font-weight: bold;
}

tr.partido > td.dato {
     text-align: right;
}

/* Datos para opciones. */
tr.fila_detalle {
    display:none;
}

td.opcion {
    padding-left: 1.5em;
}

tr.fila_detalle > td.dato {
    text-align: right;
}

tr.fila_detalle > td.dato_entero {
    text-align: right;
}

#metadata th span {
  vertical-align: 6px;
}

#agrupaciones_no_consideradas {
    margin: 1em 0.5em;
    padding: 0.5em;
    background-color: lightgoldenrodyellow;
}

#agrupaciones_no_consideradas .atencion {
    font-weight: 500
}

#agrupaciones_no_consideradas .agrupaciones {
    margin: 0.8em 0;
    padding-left: 1.5em;
}

.jstree-anchor {
  display: inline-block !important;
  padding: 0 16px !important;
}

.jstree-anchor.jstree-clicked,
.jstree-anchor:hover {
  background-color: #00A0C6 !important;
}

.jstree-proton .jstree-node {
  min-height: 30px !important;
  line-height: 30px !important;
}

.jstree-search {
  margin: 0 16px;
}
