{% load l10n material_form material_form_internal %}
{% part bound_field.field %}
<div class="row">
  <div {% attrs bound_field 'group' %}
       class="input-field col s3 required" id="id_{{widget_name}}_container"
       {% endattrs %}>
    {% part field prefix %}{% endpart %}{% part field label %}
    <label{% attrs bound_field 'label' %}
             for="{{bound_field.name}}_input"
             {% endattrs %}>{{ bound_field.label }}</label>
    {% endpart %}
    {% part field control %}
    <input id="id_{{bound_field.name}}" name="{{bound_field.name}}" type="hidden" tabindex="-1"{% if bound_field.value != None %} value="{{ bound_field.value|stringformat:'s' }}"{% endif %}/>
    <input id="{{bound_field.name}}_input" name="{{bound_field.name}}_input" type="text"
	   {% if bound_field.value != None %} value=" " {% endif %} />
  </div>
  <div class="input-field col s9 inline" >
    <input id="{{bound_field.name}}-resultado" readonly class="resultado-select">
    {# We may put some icon to be more explicit about the outcome of the query #}
    {#  <i class="material-icons suffix" id="{{widget_name}}-icon"></i> #}
  </div>
  {% endpart %}
  {% part field help_text %}{% if field.help_text %}
  <div class="help-block">{{ bound_field.help_text|safe }}</div>
  {% endif %}{% endpart %}{% part field errors %}
  {% if bound_field.errors %}
  {% include  'material/field_errors.html' %}
  {% endif %}{% endpart %}{{ hidden_initial }}
</div>
{% endpart %}


