{% extends 'material/frontend/base.html' %}
{% load i18n material_form static %}

{% block extrahead %}
{{ wizard.form.media }}
{% endblock %}

{% block sidenav_items %}
   <div class="card">
        <div class="card-content">
            <div class="card-title"><i class="material-icons">mail</i> Contacto</div>


            <p>Cualquier duda o inquietud, contactanos por email a<br>
            <a href="mailto:{{ email }}">
                {{ email }}</a></p>
        </div>
    </div>
{% endblock %}


{% block title %}Inscribite como fiscal de las PASO Nacional 2019{% endblock %}
{% block page_title %}Quiero ser fiscal de las PASO Nacional 2019{% endblock %}
{%block bodyclass %}{% endblock %}

{% block topbar_links %}{% endblock %}

{% block content %}
<div class="left-panel">
{% block left-panel %}
{% endblock left-panel %}
</div>
{% block right-panel %}{% endblock right-panel %}
{% endblock %}
