{% extends 'material/frontend/base.html' %}
{% load staticfiles %}
{% load hijack_tags %}



 {% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
 {% endblock %}

 {% block body %}
 {% hijack_notification %}
 {{ block.super }}
 {% endblock %}

{% load i18n static %}

{% block title %}Escrutinio Provisorio - Córdoba 2019{% endblock %}
{% block page_title %}Elecciones 2019{% endblock %}

{% block favicon %}<link href="{% static 'img/favicon.png' %}" rel="shortcut icon">{% endblock %}


    {% comment %}

        esto da problemas. funcional el modal pero desactiva el menu y otras cosas.


      {% block js %}
      {{ block.super }}
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      {% include 'material/includes/material_js.html' %}
      {% block extrajs %}{% endblock %}
      {% endblock %}

      {% endcomment %}