{% extends 'material/frontend/base.html' %}
{% load staticfiles %}
{% load hijack_tags %}



 {% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
 {% endblock %}

 {% block body %}
 {% hijack_notification %}
 {{ block.super }}
 {% endblock %}

{% load i18n static %}

{% block title %}PASO Agosto Nacional 2019{% endblock %}
{% block page_title %}Elecciones 2019{% endblock %}

{% block favicon %}<link href="{% static 'img/favicon.png' %}" rel="shortcut icon">{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'js/sidenav.js' %}"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
{% if request.user.is_authenticated %}
s1.src='https://embed.tawk.to/5d4967c9e5ae967ef80eb1fe/1dhres7pj';
{% else %}
s1.src='https://embed.tawk.to/5d4967c9e5ae967ef80eb1fe/default';
{% endif %}
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% block extrajs %}{% endblock %}
{% endblock %}
