{% extends "material/frontend/base_site.html" %}

{% block page_title %}Fiscal de Escrutinio Provisorio - Córdoba 2019{% endblock %}


        {% block sidenav_items %}

        {% comment %}
        <li class="active">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a href="{{ module.index_url }}" class="collapsible-header active">{{ module.verbose_name }}{{ module.icon|safe }}</a>
                    <div class="collapsible-body" style="display:block">
                        {% include module.menu %}
                    </div>
                </li>
            </ul>
        </li>

        {% endcomment %}

        {% if request.user.is_superuser %}
            <li>
                <a href="{% url "admin:index" %}" class="collapsible-header" data-turbolinks="false">Admin<i class="material-icons">dashboard</i></a>
            </li>

            <li>
                <a href="{% url "mapa" %}" class="collapsible-header" data-turbolinks="false">Mapa<i class="material-icons">map</i></a>
            </li>

            <li>
                <a href="{% url "agregar-adjuntos" %}" class="collapsible-header" data-turbolinks="false">Subir actas<i class="material-icons">cloud_upload</i></a>
            </li>


            <li></li>

        {% endif  %}

            {% url 'siguiente-accion' as url %}
            <li {% if url in request.path %} class="active"{% endif %}>
                <a href="{{ url }}" class="collapsible-header" data-turbolinks="false">Actuar sobre acta<i class="material-icons">dvr</i><span class="badge">{{ mesas_pendientes_count }}</span></a>
            </li>

            {% url 'chequear-resultado' as url %}
            <li {% if url in request.path %} class="active"{% endif %}>
                <a href={% if mesas_a_confirmar_count == 0 %}"#"{% else %}"{{ url }}"{% endif %} class="collapsible-header" data-turbolinks="false">Chequear una mesa<i class="material-icons">
check_box</i><span class="badge">{{ mesas_a_confirmar_count }}</span></a>
            </li>

            <li></li>


        <li>
            <a href="{% if request.user.is_staff %} {% url "resultados-categoria"  primera_categoria %}{% else %}#{% endif %}" class="collapsible-header" data-turbolinks="false">Resultados<i class="material-icons">insert_chart</i></a>
        </li>


        {% if request.user.is_superuser %}
        <li>
            <a href="{% url "resultados-categoria" primera_categoria %}?proyectado=✓" target="_blank" class="collapsible-header" data-turbolinks="false">Proyección<i class="material-icons">pie_chart</i></a>
        </li>
        {% endif %}

        <li>
            <a href="https://docs.google.com/document/d/19qFhQ6_bd1mvfOLmwSzj07nDtc4Q0WKJo75dhMPIhVg/edit?usp=sharing" target="_blank" class="collapsible-header" data-turbolinks="false">Ayuda<i class="material-icons">help_outline</i></a>
        </li>



        <li>
            <a href="{% url 'logout' %}" class="collapsible-header"  data-turbolinks="false">Cerrar sesión<i class="material-icons">exit_to_app</i></a>
        </li>


        {% endblock sidenav_items %}



{% block content %}
<div class="left-panel">
{% block left-panel %}
{% endblock left-panel %}
</div>
<div class="right-panel">
{% block right-panel %}{% endblock right-panel %}
</div>
{% endblock %}
