{% extends "material/frontend/base_site.html" %}

{% block page_title %}Fiscal de Generales Nacional 2019{% endblock %}

{% block js %}
{{ block.super }}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d4967c9e5ae967ef80eb1fe/1dhres7pj';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })()
    
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}

{% block sidenav_items %}

{% comment %}
<li class="active">
    <ul class="collapsible collapsible-accordion">
        <li>
            <a href="{{ module.index_url }}"
                class="collapsible-header active">{{ module.verbose_name }}{{ module.icon|safe }}</a>
            <div class="collapsible-body" style="display:block">
                {% include module.menu %}
            </div>
        </li>
    </ul>
</li>

{% endcomment %}


{% if request.user.is_authenticated %}
<!-- si no está autenticado, no debería mostrar nada -->

{% if request.user.is_superuser %}
<li>
    <a href="{% url "admin:index" %}" class="collapsible-header" data-turbolinks="false">Admin<i
            class="material-icons">dashboard</i></a>
</li>

<li>
    <a href="{% url "mapa" %}" class="collapsible-header" data-turbolinks="false">Mapa<i
            class="material-icons">map</i></a>
</li>

<li></li>

{% endif  %}

{% if request.user.fiscal.esta_en_grupo_unidades_basicas %}
<li>
    <a href="{% url "agregar-adjuntos" %}" class="collapsible-header" data-turbolinks="false">Subir varias actas<i
            class="material-icons">cloud_upload</i></a>
</li>

<li>
    <a href="{% url "agregar-adjuntos-ub" %}" class="collapsible-header" data-turbolinks="false">Subir y cargar acta<i
            class="material-icons">cloud_upload</i></a>
</li>
<li>
    <a href="{% url "agregar-adjuntos-csv" %}" class="collapsible-header" data-turbolinks="false">Cargar CSV<i
            class="material-icons">attachment</i></a>
</li>
<li {% if url in request.path %} class="active" {% endif %}>
    <a href="{% url "siguiente-accion" %}?modo_ub=True" class="collapsible-header" data-turbolinks="false">Actuar sobre acta UB<i
            class="material-icons">dvr</i></a>
</li>
{% endif %}

{% if request.user.fiscal.esta_en_grupo_validadores %}
{% url 'siguiente-accion' as url %}
<li {% if url in request.path %} class="active" {% endif %}>
    <a href="{{ url }}" class="collapsible-header" data-turbolinks="false">Actuar sobre acta<i
            class="material-icons">dvr</i></a>
</li>
{% endif %}

<li></li>

{% if request.user.fiscal.esta_en_grupo_supervisores or request.user.is_superuser %}
<li>
    <a href="{% url "monitoreo-antitrolling" %}" class="collapsible-header" data-turbolinks="false">
        Monitoreo antitrolling<i class="material-icons">map</i>
    </a>
</li>
{% endif %}

{% if request.user.fiscal.esta_en_grupo_visualizadores or request.user.is_superuser %}
<li>
    <a href="{% url "avance-carga" %}" class="collapsible-header" data-turbolinks="false">Avance de carga<i
            class="material-icons">insert_chart</i></a>
</li>

<li>
    <a href="{% url "avance-carga-resumen" carga_parcial="todo" carga_total="todo" %}" class="collapsible-header" data-turbolinks="false">
        Avance de carga - resumen
        <i class="material-icons">insert_chart</i>
    </a>
</li>

<li>
    <a href="{% url "resultados-categoria" %}" class="collapsible-header"
        data-turbolinks="false">Resultados<i class="material-icons">insert_chart</i></a>
</li>

<li>
    <a href="{% url "resultados-nuevo-menu" %}" class="collapsible-header"
        data-turbolinks="false">Resultados nuevo menú<i class="material-icons">insert_chart</i></a>
</li>

<li>
    <a href="{% url "resultados-en-base-a-configuracion" %}" class="collapsible-header"
        data-turbolinks="false">Resultado combinado<i class="material-icons">pie_chart</i></a>
</li>
{% endif %}


<li>
    <a href="{% url "referidos" %}" class="collapsible-header" data-turbolinks="false">Referidos<i
            class="material-icons">group_add</i></a>
</li>



<li>
    <a href="https://docs.google.com/document/d/19qFhQ6_bd1mvfOLmwSzj07nDtc4Q0WKJo75dhMPIhVg/edit?usp=sharing"
        target="_blank" class="collapsible-header" data-turbolinks="false">Ayuda<i
            class="material-icons">help_outline</i></a>
</li>



<li>
    <a href="{% url 'logout' %}" class="collapsible-header" data-turbolinks="false">Cerrar sesión<i
            class="material-icons">exit_to_app</i></a>
</li>

<li style="font-size: 8pt; text-align: right; margin-right: 5px">
    v {{ timestamp_version }}
</li>

{% endif %}

{% endblock sidenav_items %}

{% block content %}
<div class="left-panel">
    {% block left-panel %}
    {% endblock left-panel %}
</div>
<div class="right-panel">
    {% block right-panel %}{% endblock right-panel %}
</div>
{% endblock %}
