{% extends "adjuntos/asignar-mesa.html" %}
{% load i18n material_form material_frontend staticfiles %}

{% block js %}
{{ block.super }}

<style>

.carga-acta-inline {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.carga-acta-inline > dmc-select {
  flex: 1 60%;
}

.carga-acta-inline > dmc-select select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding: 0;
  height: 2rem;
  text-align-last: right;

}

.carga-acta-inline > dmc-select select > option {
  direction: rtl;
}

.carga-acta-inline > dmc-select select::-ms-expand {
  display: none;
}

.carga-acta-inline > div {
  flex: 1 40%;
}

.carga-acta-inline .row {
  margin-left: 0px;
  margin-right: 0px;
}

.carga-acta-inline .row .col {
  padding: 0 .1rem;
}

.carga-acta-inline .input-field {
  margin-top: 0;
}

.carga-acta-inline .input-field > input {
  margin: 0;
  height: 2rem;
}

.card-content {
    background-color: {{ categoria.back_color }};
}

</style>

<script type="text/javascript">

$(document).ready(function(){
    $('ul.tabs').tabs();

    {% if not is_valid %}
    var hasError = $(".has-error");
    if (hasError.length) {
      $('html, body').animate({
          scrollTop: hasError.first().offset().top - 70
      }, 2000);

      // arreglar esta bosta!
      hasError.first().children('input').focus();
    }
    {% endif %}
    $('.modal').modal();

});
</script>
{% endblock js %}


{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}" class="active">{{ object.nombre_completo }}</a>
{% endblock %}


{% block page_title %}Cargar Acta {% endblock %}


{% block card-content %}
    <div class="card-title">
        <b style='background-color: {{ categoria.back_color }}; color: {{ categoria.color }}'>{{ categoria }}</b>
    </div>
    {{ formset.management_form }}
    <div class="carga-acta-inline">
      {% for form in formset %}
        {% form %}
        {% endform %}
      {% endfor %}
    </div>
    {% if formset.non_form_errors %}
      <div style='color: red'>{{formset.non_form_errors}}</div>
      <div style='color: red'>¿Confirma que están cargados correctamente los valores que figuran en el acta?</div>
    {% endif %}
{% endblock card-content %}

{% block card-action %}
  {% if recibir_problema %}
    <div class="row">
        <div class="col s12">
            <div class="right-align">
                <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="30">
                    Guardar
                </button>
		            <a  class="waves-effect waves-light btn white-text modal-trigger red" href="#modal-problem" id="btn-problema">
                  Problema
		            </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
        </div>
    </div>
  {% endif %}
{% endblock card-action %}

{% block right-panel %}
    <script src="{% static 'js/fabric.js' %}"></script>
    <script src="{% static 'js/darkroom.js' %}"></script>

    <div class="acta card">

        <div class="card-content">

            <ul class="tabs">
              {% for title, foto in object.fotos %}
              <li class="tab col s3"><a {% if forloop.counter == 1 %}class="active"{% endif %} href="#foto{{ forloop.counter }}">{{ title }}</a></li>
              {% endfor %}
            </ul>
            {% for title, foto in object.fotos %}
                <div id="foto{{ forloop.counter }}" class="col s12 acta-container">
                    <img id="target{{ forloop.counter }}" src="{{ foto.thumbnail.960x.url }}">
                    <script>
                    new Darkroom('#target{{ forloop.counter }}', {
                      plugins: {
                        save: false,
                        crop: false
                      }
                    });
                    </script>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock right-panel %}
