{% extends "adjuntos/asignar-mesa.html" %}
{% load i18n material_form material_frontend static %}

{% block js %}
<script src="{% static 'fiscales/js/cambio-categoria.js' %}"></script>
{{ block.super }}

<style>
.label-opcion {
    border: 0 !important;
    padding-bottom: 2pt !important;
}

.opcion-body {
}
.opcion-nro {
    margin-bottom: -1rem !important;
}
.opcion-nombre {
}

.opcion-partido{
    margin-top: -2pt;
    line-height: 0.9;
}


h5 {
    margin-bottom: 0.4rem !important;
    margin-top: 0.4rem !important;
}

.card-content {
    padding-top: 1rem !important;
    padding-left: 1em !important;
}

.collection {
    border: 0pt !important;
    padding-top: 0rem !important;
}

.collection-item {
    align-items: baseline;
    border: 0pt !important;
    display: flex;
    line-height: 1.4rem !important;
    vertical-align: bottom !important;
    padding : 0px 0px !important;
}

.collection-item > dmc-select {
    flex: 1 75%;
}

.collection-item > div.row:last-child {
  flex: 1 25%;
}

.carga-acta-inline .input-field > input {
    margin: 0px;
    font-weight: 600;
    height: 1.4rem !important;
    vertical-align: bottom !important;
}

dmc-select select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.2rem !important;
  text-indent: 1px;
  text-overflow: '';
  padding: 0;
  padding-right: .8em;
  text-align-last: right;
}<script src="{% static 'js/darkroom.js' %}"></script>

.carga-acta-inline > dmc-select select::-ms-expand {
  display: none;
}

.card-content {
    background-color: {{ categoria.back_color }};
}

.info {
  text-align: right;
  padding: 5px;
}
</style>

<script type="text/javascript">

$(document).ready(function(){
    $('ul.tabs').tabs();

    {% if not is_valid %}
    var hasError = $(".has-error");
    if (hasError.length) {
      $('html, body').animate({
          scrollTop: hasError.first().offset().top - 70
      }, 2000);

      // arreglar esta bosta!
      hasError.first().children('input').focus();
    }
    {% endif %}
    $('.modal').modal();
    cargandoCategoria('{{ categoria }}');
});
</script>
{% endblock js %}


{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}" class="active">{{ object.nombre_completo }}</a>
{% endblock %}


{% block page_title %}Cargar acta{% endblock %}


{% block card-content %}
    <div class="card-title">
      <h5 style='color: {{ categoria.color }}'><strong>{{ categoria }}</strong></h5>
    </div>
    {{ formset.management_form }}
    <div class="carga-acta-inline collection">
      {% for form in formset %}
      <div class="collection-item row">
        {% form %}
        {% endform %}
      </div>
      {% endfor %}
    </div>
    {% if formset.non_form_errors %}
      <div style='color: red'>{{formset.non_form_errors}}</div>
    {% endif %}
{% endblock card-content %}

{% block card-action %}
  {% if recibir_problema %}
    <div class="row">
        <div class="col s12">
            <div class="right-align">
                <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="30">
                    Guardar
                </button>
		            <a  class="waves-effect waves-light btn white-text modal-trigger red" href="#modal-problem" id="btn-problema">
                  Problema
		            </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
        </div>
    </div>
  {% endif %}
{% endblock card-action %}

{% block information %}
    <div class="card small info">
      Carga de <strong>{{ categoria }}</strong>
      {% if categoria.categoria_general.foto_ejemplo %}
        <img class="responsive-img" src="{{ categoria.categoria_general.foto_ejemplo.thumbnail.600x.url }}">
      {% endif %}
    </div>
    <div id="cambio-categoria" class="modal">
      <div class="modal-content">
        <h4>Atención: cambio de categoría</h4>
        <p>Vamos a continuar cargando <strong>{{ categoria }}</strong>.</p>
        {% if categoria.categoria_general.foto_ejemplo %}
        <img class="responsive-img" src="{{ categoria.categoria_general.foto_ejemplo.thumbnail.600x.url }}">
        {% endif %}
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
{% endblock information %}

{% block right-panel %}
    <script src="{% static 'js/fabric.js' %}"></script>
    <script src="{% static 'js/darkroom.js' %}"></script>

    <div class="acta card">

        <div class="card-content">

            <ul class="tabs">
              {% for title, foto in object.fotos %}
              <li class="tab col s3"><a {% if forloop.counter == 1 %}class="active"{% endif %} href="#foto{{ forloop.counter }}">{{ title }}</a></li>
              {% endfor %}
            </ul>
            {% for title, foto in object.fotos %}
                <div id="foto{{ forloop.counter }}" class="col s12 acta-container">
                    <img id="target{{ forloop.counter }}" src="{{ foto.thumbnail.960x.url }}">
                    <script>
                    new Darkroom('#target{{ forloop.counter }}', {
                      plugins: {
                        save: false,
                        crop: false
                      },

                      initialize: function() {
                        calcularYSetearAlturaContenedorDarkroom();
                      },
                    });
                    </script>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock right-panel %}
