{% extends "adjuntos/asignar-mesa.html" %}
{% load i18n material_form material_frontend staticfiles %}

{% block js %}
{{ block.super }}

<style>

.card-content {
    background-color: {{ categoria.back_color }};
}

.right-panel > .card > .card-content > .acta-container {
  overflow-x: hidden;
  overflow-y: auto;
}
</style>

<script type="text/javascript">

$(document).ready(function(){
    $('ul.tabs').tabs();

    {% if not is_valid %}
    var hasError = $(".has-error");
    if (hasError.length) {
      $('html, body').animate({
          scrollTop: hasError.first().offset().top - 70
      }, 2000);

      // arreglar esta bosta!
      hasError.first().children('input').focus();
    }
    {% endif %}

    $('.acta-container').height($("main").height() - 220);

});
</script>
{% endblock js %}


  {% block extra_form %}
  {% endblock extra_form %}


{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}">{{ object }}</a>
<a class="active">Acta</a>
{% endblock %}


{% block page_title %}Cargar Acta {% endblock %}


{% block card-content %}
    <div class="card-title"> Mesa {{ object.numero }}
        <b style='background-color: {{ categoria.back_color }}; color: {{ categoria.color }}'>{{ categoria }}</b>

    <a class="waves-effect waves-light btn-flat right-align" href="{% url "reportar-problema" object.numero %}" >¿Problemas?</a></div>

    {{ formset.management_form }}
    {% for form in formset %}
        {% form %}{% endform %}
    {% endfor %}
{% endblock card-content %}

{% block card-action %}


        <div class="row">

            <div class="col s12">
                <div class="right-align">
                    <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="30">
                      Guardar
                   </button>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
            </div>
        </div>


    </div>
{% endblock card-action %}

{% block right-panel %}

    <div class="acta card">

        <div class="card-content">

            <ul class="tabs">
              {% for title, foto in object.fotos %}
              <li class="tab col s3"><a {% if forloop.counter == 1 %}class="active"{% endif %} href="#foto{{ forloop.counter }}">{{ title }}</a></li>
              {% endfor %}
            </ul>
            {% for title, foto in object.fotos %}
                <div id="foto{{ forloop.counter }}" class="col s12 acta-container">
                    <a href="{{ foto.url }}" onclick="return !window.open(this.href, 'Acta mesa Nº {{ object.numero }}', 'width=640,height=600')">ampliar</a><br>
                    <img class="responsive-img" src="{{ foto.thumbnail.960x.url }}">
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock right-panel %}
