{% extends "fiscales/carga.html" %}
{% load i18n material_form material_frontend %}

{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}">{{ object }}</a>
<a class="active">Acta</a>
{% endblock %}


{% block page_title %}Chequear Mesa {% endblock %}


{% block card-content %}
    <div class="card-title"> Mesa {{ object.numero }}
        <b style='background-color: {{ categoria.back_color }}; color: {{ categoria.color }}'>{{ categoria }}</b>
    </div>


<table class="highlight bordered {% if responsive %}responsive-table{% endif %}">
    {% for r in reportados %}
        <tr>
            <th>{{ r.opcion }}</th>
            <td> {{ r.votos }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock card-content %}

{% block card-action %}


        <div class="row">

            <div class="col s12">
                <form>

                <div class="center-align">
                        {% csrf_token %}
                        <button name="confirmar" class="btn waves-effect waves-light btn white-text" type="submit" tabindex="30">
                        Confirmar
                        </button>

                    <a href="{% url 'mesa-cargar-resultados' categoria.id object.numero %}" class="btn waves-effect waves-light btn white-text">
                      Editar
                   </a>

                    <a href="{% url 'reportar-problema'  object.numero %}" class="btn waves-effect waves-light btn white-text">
                      Problema
                   </a>

                </div>
                    </form>

            </div>

        </div>

    </div>
{% endblock card-action %}
