{% extends "fiscales/base.html" %}


{% block page_title %}Dónde fiscalizo{% endblock %}


{% block donde %}

    {% url 'donde-fiscalizo' as url %}
    <li {% if url in request.path %} class="active"{% endif %}>
         <ul class="collapsible collapsible-accordion">
            <li>
              <a href="{{ url }}" class="collapsible-header active" data-turbolinks="false">Dónde fiscalizo<i class="material-icons">place</i></a>
              <div class="collapsible-body" style="display:block">
                <ul>
                  {% for mesa in object.mesas_asignadas %}
                   <li>
                  {% if mesa.es_testigo %}
                     <strong><a href="{{ mesa.get_absolute_url }}" title="mesa testigo">Mesa Nº {{ mesa.numero }} <i class="material-icons tiny">star</i></a></strong>
                    {% else %}
                      <a href="{{ mesa.get_absolute_url }}">Mesa Nº {{ mesa.numero }}</a>
                    {% endif %}
                      </li>

                  {% endfor %}
                  </ul>
              </div>
            </li>
          </ul>
    </li>
{% endblock donde %}




{% block left-panel %}


    {% for escuela in object.escuelas.all %}

        <div class="card" id='donde{{escuela.id}}'>
        <div class="card-content">
            <div class="card-title">{{ escuela.nombre }}</div>

            <form method="POST" action="{% url 'asignacion-estado' object.tipo object.asignacion.id %}" enctype="multipart/form-data">
            {% csrf_token %}




             <table class="table bordered">
               <tr>
                  <th>Sección</th>
                  <td>{{ escuela.circuito.seccion }}   <a href="{% url 'resultados-mapa' %}?seccion={{ escuela.circuito.seccion.id }}"  class="waves-effect waves-light btn white-text"> Ver resultados </a> </td>
              </tr>
               <tr>
                  <th>Circuito</th>
                  <td>{{ escuela.circuito }}   <a href="{% url 'resultados-mapa' %}?circuito={{ escuela.circuito.id }}"  class="waves-effect waves-light btn white-text"> Ver resultados </a> </td>
              </tr>
              <tr>
                  <th>Dirección</th>
                  <td>{{ escuela.direccion_completa }}     <a href="http://maps.google.com/maps?q={{escuela.coordenadas}}" class="waves-effect waves-light btn white-text"> Ver en el mapa </a>
              {% if request.user.is_staff %}
                  <a href="{% url 'admin:elecciones_lugarvotacion_change' escuela.id %}" class="waves-effect waves-light btn white-text">Corregir Datos</a>
		{% endif %}
		</td>
              </tr>

              {% if request.user.fiscal.es_referente %}
                {% include "fiscales/snippet_fiscal_general.html" %}
              {% endif %}


              {% if object.es_general %}

                <tr>
                  <th>
                    Mesas en la escuela
                  </th>
                  <td>
                  {% for mesa in escuela.mesas_actuales %}
                    <a class="waves-effect waves-teal btn-flat" href="{{ mesa.get_absolute_url }}">Nº {{ mesa.numero }}</a>
                     {% if not forloop.last %}  {% endif %}
                  {% endfor %}
                  </td>
              </tr>
              {% else %}

              <tr>
                  <th>
                    Mesa asignada
                  </th>
                  <td>
                  {% for mesa in object.mesas_asignadas %}
                  {# TO DO | la mesa puede no ser de esta escuela? #}
                    <a class="waves-effect waves-teal btn-flat" href="{{ mesa.get_absolute_url }}">Nº {{ mesa.numero }}</a>
                     {% if not forloop.last %}  {% endif %}

                  {% endfor %}
                  </td>
              </tr>
              {% endif %}
              {% if  object.asignacion %}
              <tr>
                  <th>
                      Estás
                  </th>

                  <td>

                    {% if object.asignacion.esta_presente %}Presente{% else %}Ausente{% endif %}

                     <button  type="submit" class="waves-effect waves-light btn white-text">
                      {% if object.asignacion.esta_presente %}Tengo que retirarme{% else %}Estoy presente{% endif %}

                      </button>

                  </td>
              </tr>

               {% endif %}

              {% if object.asignacion.comida != 'no asignada' %}
              <tr>
                <th>
                    Comida
                </th>
                <td>
                  {{ object.asignacion.comida }}

                  {% if object.asignacion.comida == 'asignada' %}
                  <button name='comida' type="submit" class="waves-effect waves-light btn white-text">
                      Ya la recibí
                  </button>
                  {% endif %}
                </td>

              </tr>

              {% endif %}




            </table>
            </form>
       </div>


    </div>

    {% endfor %}

    {% if not object.escuelas.exists %}

      <div class="card">
        <div class="card-content">
            <div class="card-title">
            Pronto habilitaremos tu cuenta de fiscal digital para cargar datos
            {% comment %}

            {% if object.es_general %}escuela{% else %}mesa{% endif %}
            {% endcomment %}

            </div>

            {% comment %}

            <p>Por favor, hablá con tus <a href="{% url 'mis-contactos' %}#referentes %}">referentes</
            a></p>

            {% endcomment %}

        </div>
      </div>
    {% endif %}

{% endblock left-panel %}
