{% extends "fiscales/donde-fiscalizo.html" %}

{% block breadcrumbs_items %}
    <a href="{{ object.lugar_votacion.get_absolute_url }}">{{ mesa.lugar_votacion }}</a>
    <a class="active">Mesa Nº {{ object.numero }}</a>
{% endblock %}

{% block page_title %}Mesa Nº {{ object.numero }} {% endblock %}

{% block left-panel %}
<div class="card">
    {% block card-content %}
    <div class="card-content">
        <div class="card-title">{{ object }} {% if object.es_testigo %}(mesa testigo){% endif %} </div>
        <table class="table bordered">
            <tr>
                <th>Escuela</th>
                <td>{{ object.lugar_votacion }}</td>
            </tr>
            {% if request.user.fiscal and request.user.fiscal.es_general %}
            <tr>
                <th>
                   Fiscal asignado {% comment %}({{object}},{{object.asignacion_actual}},{{object.asignacion_actual.fiscal}}){% endcomment %}
                </th>
                <td>
                    <script>
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        var csrftoken = getCookie('csrftoken');

                        function post(path, params) {
                            // The rest of this code assumes you are not using a library.
                            // It can be made less wordy if you use one.
                            var form = document.createElement("form");
                            form.setAttribute("method", "post");
                            form.setAttribute("action", path);

                            var hiddenFieldT = document.createElement("input");
                            hiddenFieldT.setAttribute("type", "hidden");
                            hiddenFieldT.setAttribute("name", "csrfmiddlewaretoken");
                            hiddenFieldT.setAttribute("value", csrftoken);
                            form.appendChild(hiddenFieldT);

                            for(var key in params) {
                                if(params.hasOwnProperty(key)) {
                                    var hiddenField = document.createElement("input");
                                    hiddenField.setAttribute("type", "hidden");
                                    hiddenField.setAttribute("name", key);
                                    hiddenField.setAttribute("value", params[key]);

                                    form.appendChild(hiddenField);
                                 }
                            }

                            document.body.appendChild(form);
                            form.submit();
                        }

                        function assign(val){
                            if(val=='NINGUNO' || val=='NuevoYaCreado'){
                                // console.log(val);
                                // No hay nada, y sigue sin haber nada || Sigue el nuevo que estaba ya creado
                            }else{
                                if(val=='Nuevo'){
                                    // Asignar un Fiscal fresco
                                    var url = '{% url 'mesa-tengo-fiscal' object.eleccion.id object.numero %}'
                                    window.location.href = url;
                                }else{
                                    // Asignar un Fiscal conocido
                                    var url = '{% url 'mesa-asignar-fiscal' object.eleccion.id object.numero %}'
                                    post(url, {"fiscal":val});
                                };
                            };
                        };
                    </script>
                    <select id="sel_vountario"
                            onchange="assign(this.value);"
                    >
                    {% if not object.asignacion_actual %}
                        <option value="NINGUNO" selected="selected">Seleccione voluntario</option>
                    {% endif %}
                    {% for voluntario in qs_voluntarios %}
                        <option {% if object.asignacion_actual and object.asignacion_actual.fiscal.pk == voluntario.pk %}
                                    selected="selected"
                                {% endif %}
                                value="{{voluntario.pk}}"
                        >
                            {{ voluntario }}
                        </option>
                    {% endfor %}
                        <option
                            {% if object.asignacion_actual and not object.asignacion_actual.fiscal %}
                                value="NuevoYaCreado"
                                selected="selected"
                            {% else %}
                                value="Nuevo"
                            {% endif %}
                        >
                            Nuevo {% if object.asignacion_actual and not object.asignacion_actual.fiscal %}(Sin datos aún){% else %}(Ingresar voluntario){% endif %}
                        </option>
                    </select>
                    {% if object.asignacion_actual %}
                        {% if not object.asignacion_actual.fiscal %}
                        <!-- <a href="{% url 'mesa-asignar-fiscal' object.eleccion.id object.numero %}"  class="waves-effect waves-light btn white-text"> -->
                        <a href="{{ url_crear_fiscal }}"  class="waves-effect waves-light btn white-text">
                                Cargar datos
                            </a>
                        {% endif %}
                        <a title="Eliminar la asignación"
                           class="right-align btn-floating btn waves-effect waves-light red modal-trigger"
                           href="{% url 'mesa-eliminar-asignacion' object.eleccion.id object.numero %}"
                           onclick="return confirm('¿Estás seguro?', 'lala')"><i class="material-icons tiny">delete</i>
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% if  object.asignacion_actual %}
            <tr>
              <th>
                Se encuentra
              </th>
              <td>
                {% if object.asignacion_actual.esta_presente %}Presente{% else %}Ausente{% endif %}
                <a class="btn waves-effect waves-light white-text"
                   href="{% url 'asignacion-estado' 'de_mesa' object.asignacion_actual.id %}?mesa=1">
                    {% if object.asignacion_actual.esta_presente %}Se retiró{% else %}Está presente{% endif %}
                </a>
              </td>
            </tr>
            {% endif %}
            {% endif %}
            {% if object.asignacion_actual and  object.asignacion_actual.comida != 'no asignada' %}
            <tr>
                <th>
                    Comida
                </th>
                <td>
                {% if object.asignacion_actual.comida == 'asignada' %}
                    Asignada
                    <a class="btn waves-effect waves-light white-text" href="{% url 'asignacion-estado' 'de_mesa' object.asignacion_actual.id %}?mesa=1&comida=1">
                        La comida entregada
                    </a>
                {% else %}
                    Entregada
                {% endif %}
                </td>
            </tr>
            {% endif %}
          <tr>
            <th>
              Foto del Acta
            </th>
            <td>
                {% if object.foto_del_acta %}
                    Subida
                    <a class="waves-effect waves-light btn white-text" href="{{ object.foto_del_acta.thumbnail.960x.url }}">Ver foto actual</a>
                    <a href="{% url 'mesa-acta' 1 object.numero %}"  class="waves-effect waves-light btn white-text">Cambiar</a>
                {% else %}
                    <a href="{% url 'mesa-acta' 1 object.numero %}"  class="waves-effect waves-light btn white-text">Subir</a>
                    <p>
                        O enviar foto a <code  class="language-markup"><a href="mailto:{{ email }}">{{ email }}</a></code>
                        o por whatsapp/telegram a los números <a href="tel:{{ cell_call }}">{{ cell_local }}</a>.
                    </p>
                {% endif %}
            </td>
          </tr>
        </table>
    </div>
    {% endblock card-content %}
</div>
{% endblock left-panel %}
