{% extends "fiscales/base.html" %}
{% load i18n material_form material_frontend %}
{% load staticfiles %}
{% block extrahead %}
<link href="/static/css/select2-materialize.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

{% block page_title %}Quiero ser validador/a{% endblock %}

{% block left-panel %}

<div class="card">

    <div class="card-content">

        <div class="card-title">
            {% block card-title %}Necesitamos algunos datos{% endblock card-title %}
        </div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form %}{% endform %}
            <div class="card-action">
                <div class="right-align">
                    {% block submit_row %}
                    <button type="submit" class="waves-effect waves-light btn white-text">Finalizar</button>
                    {% endblock %}
                </div>
            </div>
        </form>

    </div>
</div>
{{ form.media.js }}
{% endblock %}
