{% extends "fiscales/quiero-validar.html" %}

{% block left-panel %}
    <div class="card">
        <div class="card-content">
            <span class="card-title grey-text text-darken-2">¡Completado!</span>

            <p>¡Gracias por sumarte a este esfuerzo!</p>

            <p>Te enviamos un email para que confirmes tu dirección de correo. Luego te
             contactaremos para confirmarte tu lugar de fiscalización y brindarte capacitación.</p>
        </div>
    </div>
{% endblock left-panel %}
