{% extends "fiscales/quiero-validar.html" %}

{% block left-panel %}
    <div class="card">
        <div class="card-content">
            <span class="card-title grey-text text-darken-2">¡Completado!</span>

            <p>¡Gracias por sumarte a este esfuerzo!</p>

            <p>Te enviamos un email para que confirmes tu dirección de correo.
                Luego te contactaremos para contarte cómo seguir. Si tenés Telegram, unite a <a href="https://t.me/joinchat/AAAAAE_X8uYa11oaQhhEMA" target="blank">nuestro canal</a>.</p>
            <br><br>
            <p>Si querés sumar a alguien para que nos ayude a validar pasale el código de referencia <strong>{{ fiscal.ultimo_codigo }}</strong> o directamente el siguiente link: {{ fiscal.ultimo_codigo_url }}


            </p>
        </div>
    </div>
{% endblock left-panel %}
