{% extends "fiscales/quiero-validar.html" %}
{% load i18n material_form %}

{% block left-panel %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Link para referir</span>


            <p>Si querés sumar a alguien para que nos ayude a validar pasale el siguiente link</p>

                <form  method="post">
                    {% csrf_token %}
                    {% form  %}{% endform %}
                    <div class="card-action">
                        <div class="right-align">
                            <button type="submit" name='link', class="waves-effect waves-light btn white-text">Regenerar link</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <span class="card-title">Referidos</span>

            {% if referidos %}


            <p>Las siguientes personas se inscribieron usando un link tuyo</p>

            <form method="post">
                {% csrf_token %}

                {% for referido in referidos %}
                <p>
                  <label>
                    <input name="referido" value="{{ referido.id }}"  type="checkbox" />
                    <span>{{ referido }}</span>
                  </label>
                </p>
                {% endfor %}

                <div class="card-action">
                    <div class="right-align">
                        <button type="submit" name='desconozco' class="waves-effect waves-light btn white-text">
                        Desconozco a las personas seleccionadas
                        </button>
                    </div>
                </div>

              </form>
              {% else %}
                    <p>Todavía no tenés referidos</p>
              {% endif %}


            </p>
        </div>
    </div>

{% endblock left-panel %}
