{% for seccion in secciones %}
{% if incluir_seccion_politica and seccion.seccion_politica or not incluir_seccion_politica and not seccion.seccion_politica %}
<ul class="collapsible collapsible-accordion">
    <li id="seccion-{{seccion.id}}">
        <div class="collapsible-header">
            <i class="material-icons">arrow_drop_down</i>
            <a href="{{ request.path }}?seccion={{ seccion.id }}{% if not en_base_a_configuracion %}&tipoDeAgregacion={{tipos_de_agregaciones_seleccionado}}&opcionaConsiderar={{opciones_a_considerar_seleccionado}}{% endif %}">
                {{ seccion }}
            </a>
        </div>
        <div class="collapsible-body">
            <ul>
            	{% for circuito in seccion.get_circuitos %}
                <li id="circuito-{{circuito.id}}">
                    <a
                        href="{{ request.path }}?circuito={{ circuito.id }}{% if not en_base_a_configuracion %}&tipoDeAgregacion={{tipos_de_agregaciones_seleccionado}}&opcionaConsiderar={{opciones_a_considerar_seleccionado}}{% endif %}">
                        {{ circuito.nombre }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
</ul>
{% endif %}
{% endfor %}
