{% extends "fiscales/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<style type="text/css">

  .left-panel {
      flex-basis: 100%;
  }
  .right-panel {
      flex-basis: 2%;
      min-width: 0px;
  }

  table.striped > tbody > tr:nth-child(odd) {
      background-color: rgba(170, 213, 213, 0.3);
  }

  .recuadro {
      border-width: 2px; border-style: solid; 
      margin-top: 40px
  }

  .titulo {
      font-weight: bold
  }

  .gran_titulo {
      font-size: 140%; font-weight: bold
  }

  .titulo {
      font-size: 120%; font-weight: bold
  }

</style>
{% endblock %}

{% block title %} Avance de carga {% endblock %}

{% block page_title %} Avance de carga - resumen {% endblock %}

{% block left-panel %}

<div class="row" style="margin-top: 30px; margin-left: 20px">
  <form class="col s8"
    action="{% url "elegir-distrito-o-seccion" hay_criterio="False" valor_criterio="None" donde_volver=donde_volver %}" 
    method="GET">
    {% csrf_token %}
    <button type="submit" class="btn waves-effect waves-light white-text" style="background-color: slateblue">
      Elegir distrito o sección
    </button>
  </form>
  <div class="col s4">
    {{ restriccion_geografica.nombre }}
  </div>
</div>

<div class="row" style="margin-top: 30px; margin-left: 20px">
  <div class="recuadro" style="margin-top: 0px; background-color: powderblue">
    <div class="row" style="background-color: lightskyblue; margin-bottom: 10px; padding-bottom: 10px">
      <div class="col s12 gran_titulo">Fotos</div>
    </div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s2 titulo">Total país</div>
      <div class="col s2"></div>
      <div class="col s2 titulo">PBA</div>
    </div>
    <div >
      {% for dato in data_fotos_nacion_pba %}
      <div class="row">
        <div class="col s4">{{ dato.texto }}</div>
        <div class="col s2">{{ dato.cantidad_1 }}</div>
        <div class="col s2">{{ dato.porcentaje_1 }} %</div>
        <div class="col s2">{{ dato.cantidad_2 }}</div>
        <div class="col s2">{{ dato.porcentaje_2 }} %</div>
      </div>
      {% endfor %}
      {% for dato in data_fotos_solo_nacion %}
      <div class="row">
        <div class="col s4">{{ dato.texto }}</div>
        <div class="col s2">{{ dato.cantidad_1 }}</div>
        <div class="col s2">{{ dato.porcentaje_1 }} %</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="recuadro" style="background-color: blanchedalmond">
    <div class="row" style="background-color: lightcoral; margin-bottom: 10px; padding-bottom: 10px">
      <div class="col s12 gran_titulo">
        Carga parcial - 
        {% if base_carga_parcial == 'todo' %}
        todas las mesas
        {% else %}
        sólo mesas con foto
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4 titulo">Presidente y vice</div>
      <div class="col s4 titulo">Gobernador PBA</div>
    </div>
    {% for dato in data_carga_parcial %}
    <div class="row">
      <div class="col s4">{{ dato.texto }}</div>
      <div class="col s2">{{ dato.cantidad_1 }}</div>
      <div class="col s2">{{ dato.porcentaje_1 }} %</div>
      <div class="col s2">{{ dato.cantidad_2 }}</div>
      <div class="col s2">{{ dato.porcentaje_2 }} %</div>
    </div>
    {% endfor %}
    <div class="row">
      {% if base_carga_parcial == 'solo_con_fotos' %}
      <form class="col s6" action="{% url "avance-carga-resumen" carga_parcial="todo" carga_total=base_carga_total restriccion_geografica="None" %}"
        method="GET">
        {% csrf_token %}
        <button type="submit" class="btn waves-effect waves-light white-text" style="background-color: lightcoral">
          Todas las mesas
        </button>
      </form>
      {% endif %}
      {% if base_carga_parcial == 'todo' %}
      <form class="col s6"
        action="{% url "avance-carga-resumen" carga_parcial="solo_con_fotos" carga_total=base_carga_total restriccion_geografica="None" %}" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn waves-effect waves-light white-text" style="background-color: lightcoral">
          Sólo mesas con foto
        </button>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="recuadro" style="background-color: mistyrose">
    <div class="row" style="background-color: lightpink; margin-bottom: 10px; padding-bottom: 10px">
      <div class="col s12 gran_titulo">
        Carga total -
        {% if base_carga_total == 'todo' %}
        todas las mesas
        {% else %}
        sólo mesas con foto
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4 titulo">Presidente y vice</div>
      <div class="col s4 titulo">Gobernador PBA</div>
    </div>
    {% for dato in data_carga_total %}
    <div class="row">
      <div class="col s4">{{ dato.texto }}</div>
      <div class="col s2">{{ dato.cantidad_1 }}</div>
      <div class="col s2">{{ dato.porcentaje_1 }} %</div>
      <div class="col s2">{{ dato.cantidad_2 }}</div>
      <div class="col s2">{{ dato.porcentaje_2 }} %</div>
    </div>
    {% endfor %}
    <div class="row">
      {% if base_carga_total == 'solo_con_fotos' %}
      <form class="col s6" action="{% url "avance-carga-resumen" carga_parcial=base_carga_parcial carga_total="todo" restriccion_geografica="None" %}"
        method="GET">
        {% csrf_token %}
        <button type="submit" class="btn waves-effect waves-light white-text" style="background-color: lightpink">
          Todas las mesas
        </button>
      </form>
      {% endif %}
      {% if base_carga_total == 'todo' %}
      <form class="col s6"
        action="{% url "avance-carga-resumen" carga_parcial=base_carga_parcial carga_total="solo_con_fotos" restriccion_geografica="None" %}" method="GET">
        {% csrf_token %}
        <button type="submit" class="btn waves-effect waves-light white-text" style="background-color: lightpink">
          Sólo mesas con foto
        </button>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="recuadro" style="background-color: paleturquoise">
    <div class="row" style="background-color: turquoise; margin-bottom: 10px; padding-bottom: 10px">
      <div class="col s12 gran_titulo">Preidentificaciones</div>
    </div>
    <div class="row">
      <div class="col s4"></div>
      <div class="col s2 titulo">Total país</div>
      <div class="col s2"></div>
      <div class="col s2 titulo">PBA</div>
    </div>
    {% for dato in data_preidentificaciones %}
    <div class="row">
      <div class="col s4">{{ dato.texto }}</div>
      <div class="col s2">{{ dato.cantidad_1 }}</div>
      <div class="col s2">{{ dato.porcentaje_1 }} %</div>
      <div class="col s2">{{ dato.cantidad_2 }}</div>
      <div class="col s2">{{ dato.porcentaje_2 }} %</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock left-panel %}

{% block right-panel %}
{% endblock right-panel %}

{% block messages %}
{% endblock messages %}
