{% extends "fiscales/base.html" %}
{% load staticfiles %}

{% block title %} Elección de distrito o sección {% endblock %}

{% block page_title %} Elección de distrito o sección {% endblock %}

{% block left-panel %}
<div class="recuadro" style="margin-top: 50px;">
    <form action="{% url "ingresar-parametro-busqueda" %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col s6">
                <input id="parametro_busqueda" name="parametro_busqueda" type="text" style="height: 2rem" value="{{ texto_busqueda }}" >
            </div>
            <div class="col s6">
                <button type="submit" class="btn waves-effect waves-light white-text">Buscar</button>
            </div>
        </div>
    </form>
</div>

<div class="recuadro" style="margin-top: 50px;">
    {% for opcion in opciones %}
    <div class="row">
        <div class="col s12">{{ opcion }}</div>
    </div>
    {% endfor %}
</div>
{% endblock left-panel %}

{% block right-panel %}
{% endblock right-panel %}

{% block messages %}
{% endblock messages %}