{% extends "fiscales/base.html" %}
{% load staticfiles %}

{% block title %}Resultados{% endblock %}
{% block page_title %}Resultados{% endblock %}

{% block js %}
{{ block.super }}

{% endblock %}

 {% block head %}
    {{ block.super }}
    <link href="{% static 'elecciones/resultados.css' %}" rel="stylesheet" type="text/css">
    <!-- 5 include the minified jstree source -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link rel="stylesheet" href="http://www.orangehilldev.com/jstree-bootstrap-theme/demo/assets/dist/themes/proton/style.css" />
 {% endblock %}

{% block sidenav_items %}
<li class="jstree-search"><input id="search-input" placeholder="Buscador"/></li>
<li style="overflow: auto; height: calc(100% - 240px);"><div id="jstree"></div></li>
<script>
  // Construyo el árbol.
  cat_id = {{ cat_id }}
  url_base = 'http://localhost:8000/elecciones/resultados-cuerpo-central/{{ cat_id }}'

  // Construyo la url de resultados-cuerpo-central que se debe cargar inicialmente
  // en el panel derecho en base a los parámetros de la url de resultados-nuevo-menu
  params = "?"
  {% for key, value in request.GET.items %}
    params += '{{key}}={{value}}&'
  {% endfor %}

  // Elimino el último carácter, '&' si había parámetro o '?' si no los había
  url_inicial = url_base + params.slice(0, -1)

  // Configuración de jstree para marcar en el árbol el nodo inicial seleccionado
  selected = {'state': {'selected': true}}

  // Los distritos.
  arbol_distritos = []
  {% for distrito in distritos %}
    // Las secciones.
    arbol_secciones = []
    {% for seccion in distrito.secciones.all %}
      // Los circuitos.
      arbol_circuitos = []
      {% for circuito in seccion.circuitos.all %}
        url = url_base + '?circuito=' + {{ circuito.id }}
        nodo = {'text': '{{ circuito.nombre }}', 'a_attr': {'href': url}, 'children': []}
        if (url == url_inicial) Object.assign(nodo, selected)
        arbol_circuitos.push(nodo)
      {% endfor %}
      url = url_base + '?seccion=' + {{ seccion.id }}
      nodo = {'text': '{{ seccion.nombre }}', 'a_attr': {'href': url}, 'children': arbol_circuitos}
      if (url == url_inicial) Object.assign(nodo, selected)
      arbol_secciones.push(nodo)
    {% endfor %}
    url = url_base + '?distrito=' + {{ distrito.id }}
    nodo = {'text': '{{ distrito.nombre }}', 'a_attr': {'href': url}, 'children': arbol_secciones}
    if (url == url_inicial) Object.assign(nodo, selected)
    arbol_distritos.push(nodo)
  {% endfor %}
  nodo = {'text': 'Todo el país', 'a_attr': {'href': url_base}, 'children': arbol_distritos, 'state': {'opened': true}}
  if (url_base == url_inicial) Object.assign(nodo, selected)
  arbol_pais = nodo

  // Se inicializa el menú
  $(function () {
    $('#jstree').jstree({
      'core': {
        'data': arbol_pais,
        'themes': {
          'name': 'proton'
        },
      },
      'plugins': ['search'],
      'search':  {
        'case_sensitive': false,
        'show_only_matches': false
      }
    })

    // Para cada elemento del menú, se define el evento click para que se
    // carguen via ajax los resultados en el panel derecho
    $(document).on('click', '.jstree-anchor', function(e) {
      var href_address = e.currentTarget.attributes.href;
      $.ajax({
        url: href_address.value,
        success: function(r) {
          document.getElementById('resultados').innerHTML=r
        },
        error: function(r) {
          console.log('ERROR', r)
        }
      });
      return false;
    });

    var to = false;
    $('#search-input').keyup(function () {
      if(to) { clearTimeout(to); }
      to = setTimeout(function () {
        var v = $('#search-input').val();
        $('#jstree').jstree(true).search(v);
      }, 250);
    });

    // Carga inicial de los resultados en base a la url_inicial
    $.ajax({
      url: url_inicial,
      success: function(r) {
        document.getElementById('resultados').innerHTML=r
        eval(document.getElementById('sumarizacion').innerHTML)
      },
      error: function(r) {
        console.log('ERROR', r)
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="row" style="width:100%">
  <div id="resultados" class="col s12"></div>
</div>
{% endblock content %}
