{% extends "fiscales/base.html" %}
{% load staticfiles %}

{% block title %}Resultados Proyectados{% endblock %}

{% block page_title %}<h5>Resultados Proyectados</h5><h7>{{para}}</h7>{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th> Proyección </th>
        <th> </th>
        <th>Electores</th>
        <th> </th>
        <th>Votos positivos</th>
        <th>Cambiemos</th>
        <th>UPC</th>
        <th>FCC</th>
        <th>Otros</th>
        <th>Cambiemos</th>
        <th>UPC</th>
        <th>FCC</th>
        <th>Otros</th>
    </tr>
    <tr>
        <th> Proyección </th>
        <th> </th>
        <th>Electores</th>
        <th> </th>
        <th>{{Positivos_proy_total}}</th>
        <th>{{Cambiemos_proy_total}}</th>
        <th>{{UPC_proy_total}}</th>
        <th>{{FCC_proy_total}}</th>
        <th>{{Otros_proy_total}}</th>
        <th>{{Cambiemos_proy_total_porc}}</th>
        <th>{{UPC_proy_total_porc}}</th>
        <th>{{FCC_proy_total_porc}}</th>
        <th>{{Otros_proy_total_porc}}</th>
    </tr>
    <tr>
        <th>Grupo / Mesa </th>
        <th>Peso</th>
        <th>Electores</th>
        <th>Total de votos</th>
        <th>Votos positivos</th>
        <th>Cambiemos (v)</th>
        <th>UPC (v)</th>
        <th>FCC (v)</th>
        <th>Otros (v)</th>
        <th>Cambiemos (%)</th>
        <th>UPC (%)</th>
        <th>FCC (%)</th>
        <th>Otros (%)</th>
    </tr>
{% for res_grupo in filas_tabla %}
    <tr>
        <th>{{res_grupo.grupo}}</th>
        <td>{{res_grupo.peso_escrutado}}</td>
        <td>{{res_grupo.electores}}</td>
        <td>{{res_grupo.Total}}</td>
        <td>{{res_grupo.Positivos}}</td>
        <td>{{res_grupo.Cambiemos}} -> {{res_grupo.Cambiemos_proy}}</td>
        <td>{{res_grupo.UPC}} -> {{res_grupo.UPC_proy}}</td>
        <td>{{res_grupo.FCC}} -> {{res_grupo.FCC_proy}}</td>
        <td>{{res_grupo.Otros}} -> {{res_grupo.Otros_proy}}</td>
        <td>{{res_grupo.Cambiemos_porcentaje}}</td>
        <td>{{res_grupo.UPC_porcentaje}}</td>
        <td>{{res_grupo.FCC_porcentaje}}</td>
        <td>{{res_grupo.Otros_porcentaje}}</td>
    </tr>
    {% for resumen_mesa in res_grupo.resumenes_mesas %}
        <tr>
            <th>{{ resumen_mesa.mesa }}</th>
            <td></td>
            <td>{{ resumen_mesa.electores }}</td>
            <td>{{ resumen_mesa.Total }}</td>
            <td>{{ resumen_mesa.Positivos }}</td>
            <td>{{ resumen_mesa.Cambiemos }}</td>
            <td>{{ resumen_mesa.UPC }}</td>
            <td>{{ resumen_mesa.FCC }}</td>
            <td>{{ resumen_mesa.Otros }}</td>
            <td>{{ resumen_mesa.Cambiemos_porcentaje }}</td>
            <td>{{ resumen_mesa.UPC_porcentaje }}</td>
            <td>{{ resumen_mesa.FCC_porcentaje }}</td>
            <td>{{ resumen_mesa.Otros_porcentaje }}</td>
        </tr>
    {% endfor %}
{% endfor %}
</table>
{% endblock %}
