{% extends "fiscales/base.html" %}
{% load staticfiles %}

{% block title %}Resultados por Agrupaciones Ad hoc{% endblock %}

{% block page_title %}<h5>Resultados para {{para|default:para}}</h5>{% endblock %}

 {% block head %}
    {{ block.super }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 {% endblock %}

{% block sidenav_items %}

      <li><a href="{{ request.path }}?proyeccion=1">Provincia</a></li>

      {% for agrupacion in agrupacionpk %}
      <li><a href="{{ request.path }}?agrupacionpk={{ agrupacion.id }}">{{ agrupacion }}</a></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header"><i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                {% for circuito in agrupacion.circuito_set.all %}
                    <li><a href="{{ request.path }}?circuito={{ circuito.id }}">{{ circuito }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </li>
      {% endfor %}


{% endblock %}



{% block left-panel %}

    <ul class="tabs">
        {% for eleccion in elecciones %}
        <li class="tab col s3" >
            <a target="_self" href="{{eleccion.get_absolute_url}}" {% if eleccion.id == object.id %}class="active"{% endif %}>{{ eleccion.nombre }}</a>
        </li>
        {% endfor %}
    </ul>


        <div class="card" id="{{eleccion.slug}}" data-id="{{ eleccion.id }}">
            <div class="card-content" id="frame{{eleccion.id}}">

              {% if resultados.tabla_positivos %}
                {% if resultados.proyectado %}
                  {% if resultados.proyeccion_incompleta  %}
                    <h4 style="background-color: red"> Proyección de datos incompleta </h4>
                    <h5> Con un total de {{ resultados.porcentaje_mesas_escrutadas }}% de mesas escrutadas
                        ({{ resultados.total_mesas_escrutadas }} de {{ resultados.total_mesas }}). 
                        Faltan cargar datos en </h5>
                      {% for ag in resultados.proyeccion_incompleta %}
                        <li> {{ ag|safe }}</li>
                      {% endfor %}

                  {% else %}
                    <h4>Proyección de datos sobre un {{ resultados.porcentaje_mesas_escrutadas }}% de mesas escrutadas 
                        ({{ resultados.total_mesas_escrutadas }} de {{ resultados.total_mesas }})
                    </h4>
                  {% endif %}

                {% else %}
                    <h4>Sobre un {{ resultados.porcentaje_mesas_escrutadas }}% de mesas escrutadas 
                        ({{ resultados.total_mesas_escrutadas }} de {{ resultados.total_mesas }})
                    </h4>

                {% endif %}



              <table class="striped bordered">
                  <thead>
                  <tr>
                      <th>Partido</th>
                      <th>Votos</th>
                      <th>%</th>
                      {% if resultados.proyectado %}
                      <th>% proyectado</th>
                      {% endif %}
                  </tr>
                  </thead>

                  {% with resultados.tabla_positivos as tabla %}
                      {% include "elecciones/tabla_resultados_numerables.html" with responsive=True incluir_votos=True %}
                  {% endwith %}

              </table>

              <table class="striped bordered" style="margin-top: 2em">
                  <thead>
                  <tr>
                      <th>Totales</th>
                      <th>Cantidad</th>
                      <th>%</th>
                  </tr>
                  </thead>

                  {% with resultados.tabla_no_positivos as tabla %}
                      {% include "elecciones/tabla_resultados_no_numerables.html" with responsive=True incluir_votos=True%}
                  {% endwith %}
              </table>

              <div id="columnchart-{{object.id}}"></div>
              <div id="piechart-{{object.id}}"></div>


              {% else %}

              <h5>Aún no hay mesas escrutadas en {{para}}</h5>

              {% endif %}

            </div>
        </div>


{% endblock %}

{% block right-panel %}
 <div class="card">
    <div id="metadata" class="card-content">
      <table class="borderless" style="font-size: 0.9em">
          <tr>
              <th title="Electores"><i class="small material-icons">people_outline</i>Electores</th>
          </tr>
          <tr>
              <td title="Electores">{{ resultados.electores}} </td>
          </tr>
          <tr>
              <th title="Escrutados"><i class="small material-icons">person_outline</i>Escrutados</th>
          </tr>
          <tr>
              <td title="Escrutados">{{ resultados.escrutados }} </td>
          </tr>
          <tr>
              <th title="% Escrutado"><i class="small material-icons">trending_up</i>% Escrutado</th>
          </tr>
          <tr>
              <td title="% Escrutado">{{ resultados.porcentaje_escrutado}} %</td>
          </tr>
          <tr>
              <th title="Votantes"><i class="small material-icons">person</i>Votantes</th>
          </tr>
          <tr>
              <td title="Votantes">{{ resultados.votantes }} </td>
          </tr>
          <tr>
              <th title="Positivos"><i class="small material-icons">person_add</i>Positivos</th>
          </tr>
          <tr>
              <td title="Positivos">{{ resultados.positivos}}</td>
          </tr>
          <tr>
              <th title="% Participación"><i class="small material-icons">timeline</i>% Participacion</th>
          </tr>
          <tr>
              <td title="% Participación">{{ resultados.porcentaje_participacion}} %</td>
          </tr>
      </table>
    </div>
</div>



{% endblock right-panel %}



{% block messages %}
{{ block.super }}

<script type="text/javascript">

$(function() {

   $('tabs').tabs();

   var data = [{
      y: {{ chart_values|safe }},
      x: {{ chart_keys|safe }},
      text: {{ chart_values|safe }},  // mosytrar los numeros en las barras
      textposition: 'auto',
      opacity: 0.6,
      type: 'bar',
      marker: {color: 'rgb(200,48,107)',
                line: {
                      color: 'rgb(8,48,107)',
                      width: 1.5,
                }
              }
    }];

    var layout = {height: 600,
                    width: 1200,
                    xaxis: {tickangle: 15,
                            tickfont: {size: 9}
                            }
                    };

    Plotly.newPlot('columnchart-{{eleccion_id}}', data, layout);

    var data = [{
      values: {{ chart_values|safe }},
      labels: {{ chart_keys|safe }},
      type: 'pie',
      marker: {
        colors: {{ chart_colors|safe }}
      }
    }];

    var layout = {
      height: 900,
      width: 900
    };

    Plotly.newPlot('piechart-{{eleccion_id}}', data, layout);
});
</script>
{% endblock messages %}
