{% extends "fiscales/base.html" %}

{% block title %}Resultados según Fiscales{% endblock %}

{% block page_title %}Resultados según Fiscales{% endblock %}

{% block left-panel %}
    <ul class="tabs">
        {% for eleccion in resultados.keys %}
        <li class="tab col s3">
            <a href="#{{categoria.slug}}" {% if forloop.first %}class="active"{% endif %}>{{ categoria.nombre }}</a>
        </li>
        {% endfor %}
    </ul>

    {% for eleccion, resultados in resultados.items %}
        <div id="{{ categoria.slug }}" class="card">
            <div class="card-content">
                <script>
                    var chart_data{{categoria.id}} = [{{ resultados.result_piechart | safe }}];
                </script>
                <link href="/static/elecciones/lib/nv.d3.min.css" rel="stylesheet" type="text/css">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" charset="utf-8"></script>
                <script src="/static/elecciones/lib/nv.d3.min.js"></script>
                <script src="/static/elecciones/lib/stream_layers.js"></script>
                <!-- <script src="/static/elecciones/pie_chart.js"></script> -->
                <table class="borderless responsive">
                    <tr>
                        <td title="Presentismo" width="25%">
                            <table class="borderless" style="font-size: 0.7em">
                                <tr>
                                    <th title="Electores"><i class="small material-icons">person_outline</i></th>
                                    <td title="Electores">{{ resultados.electores}} </td>
                                </tr>
                                <tr>
                                    <th title="Escrutados"><i class="small material-icons">person</i></th>
                                    <td title="Escrutados">{{ resultados.escrutados }} </td>
                                </tr>
                                <tr>
                                    <th title="Positivos"><i class="small material-icons">person_add</i></th>
                                    <td title="Positivos">{{ resultados.positivos}}</td>
                                </tr>
                                <tr>
                                    <th title="Participación"><i class="small material-icons">timeline</i></th>
                                    <td title="Participación">{{ resultados.participacion}} %</td>
                                </tr>
                            </table>
                        </td>
                        <td title="Resultados">
                            <table class="striped bordered">
                                <thead>
                                    <tr>
                                        <th>Partido</th>
                                        <th>Votos</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                {% with resultados.tabla as resultados %}
                                    {% include "elecciones/tabla_resultados_es.html" with responsive=True incluir_votos=True%}
                                {% endwith %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <svg id="svg_chart{{categoria.id}}" width="100%" height="100%"></svg>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block messages %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul.tabs').tabs();
        });

        var width = 360;
        var height = 180;

        {% for eleccion, resultados in resultados.items %}
        nv.addGraph(function() {
            var chart = nv.models.pie()
                    .x(function(d) { return d.key; })
                    .y(function(d) { return d.y; })
                    .width(width)
                    .height(height)
                    ;

            d3.select("#svg_chart{{categoria.id}}")
                    .datum(chart_data{{categoria.id}})
                    .transition().duration(1200)
                    .attr("width", width)
                    .attr("height", height)
                    .attr('viewBox','0 0 '+(Math.min(width,height)+10)+' '+(Math.min(width,height)+10))
                    .attr('preserveAspectRatio','xMinYMin')
                    .call(chart);
        });
        {% endfor %}
    </script>
{% endblock messages %}
