<tr>
    <td>Votos Positivos</td>
    <td>{{ resultados.total_positivos }}</td>
    <td>{% widthratio resultados.total_positivos resultados.votantes 100 %}%</td>
</tr>

<tr>
    <td>Votos en blanco</td>
    <td>{{ resultados.total_blancos }}</td>
    <td>{% widthratio resultados.total_blancos resultados.votantes 100 %}%</td>
</tr>

<tr>
    <td>Votos nulos</td>
    <td>{{ resultados.total_nulos }}</td>
    <td>{% widthratio resultados.total_nulos resultados.votantes 100 %}%</td>
</tr>

<tr>
    <td>Total de votos</td>
    <td>{{ resultados.total_votos }}</td>
    <td></td>
</tr>

<tr>
    <td>Total de sobres</td>
    <td>{{ resultados.total_sobres }}</td>
    <td></td>
</tr>