<tr>
    <td>Votos Positivos</td>
    <td class="dato_entero">{{ resultados.total_positivos }}</td>
    <td>{{ resultados.porcentaje_positivos }}%</td>
</tr>

<tr>
    <td>Votos en blanco</td>
    <td class="dato_entero">{{ resultados.total_blancos }}</td>
    <td>{{ resultados.porcentaje_blancos }}%</td>
</tr>

<tr>
    <td>Votos nulos</td>
    <td class="dato_entero">{{ resultados.total_nulos }}</td>
    <td>{{ resultados.porcentaje_nulos }}%</td>
</tr>

<tr>
    <td>Total de votos</td>
    <td class="dato_entero">{{ resultados.total_votos }}</td>
    <td></td>
</tr>