<table class="borderless" style="font-size: 0.9em">
    <tr>
        <th title="Electores"><i class="small material-icons">people_outline</i>Electores</th>
    </tr>
    <tr>
        <td title="Electores">{{ resultados.electores}} </td>
    </tr>
    <tr>
        <th title="Escrutados"><i class="small material-icons">person_outline</i>Escrutados</th>
    </tr>
    <tr>
        <td title="Escrutados">{{ resultados.escrutados }} </td>
    </tr>
    <tr>
        <th title="% Escrutado"><i class="small material-icons">trending_up</i>% Escrutado</th>
    </tr>
    <tr>
        <td title="% Escrutado">{{ resultados.porcentaje_escrutado}} %</td>
    </tr>
    <tr>
        <th title="Votantes"><i class="small material-icons">person</i>Votantes</th>
    </tr>
    <tr>
        <td title="Votantes">{{ resultados.votantes }} </td>
    </tr>
    <tr>
        <th title="Positivos"><i class="small material-icons">person_add</i>Positivos</th>
    </tr>
    <tr>
        <td title="Positivos">{{ resultados.positivos}}</td>
    </tr>
    <tr>
        <th title="% Participación"><i class="small material-icons">timeline</i>% Participacion</th>
    </tr>
    <tr>
        <td title="% Participación">{{ resultados.porcentaje_participacion}} %</td>
    </tr>
</table>