<table class="highlight bordered {% if responsive %}responsive-table{% endif %}">
    {% for partido, votos in  resultados.items %}
        <tr {% if partido.color %}style="background-color: {{ partido.color}};"{% endif %}>
            <th>{{ partido }}</th>
            {% if incluir_votos %}
                <td id="votos_{{ partido.id|default:partido|lower }}"> {{ votos.0 }}</td>
            {% endif %}
            <td> {{ votos.1 }}%</td>
        </tr>
    {% endfor %}
</table>

<svg id="svg_chart{{object.id}}" width="100%" height="100%"></svg>