{% extends "fiscales/base.html" %}
{% load i18n material_form material_frontend %}
{% load staticfiles %}
{% block extrahead %}
<link href="/static/css/select2-materialize.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{% static 'js/sidenav.js' %}"></script>
<script src="{% static 'js/simpleselect.js' %}"></script>
<style type="text/css">
.resultado-select{
    border-bottom: none !important;
}
</style>
{% block extrajs %}{% endblock %}
{% endblock %}

{% block page_title %}Subir actas y pre identificarlas{% endblock %}

{% block left-panel %}
<div class="card">

    <div class="card-content">

      <div class="card-title">
	{% block card-title %}
	¿De qué sección/circuito son estas actas?
        {% endblock card-title %}
      </div>
        <form action="{{ url_to_post }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ attachment_form.as_p }}

            {% form form=pre_identificacion_form %}{% endform %}
	    
            <div class="card-action">
              <div class="right-align">
                {% block submit_row %}
                <button type="submit" class="waves-effect waves-light btn white-text">Subir</button>
                {% endblock %}
              </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}
{% block messages %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function(){
      $('#distrito_input').attr('tabindex', 1);
      $('#seccion_input').attr('tabindex', 2);
      $('#circuito_input').attr('tabindex', 3);
      const forward = ['distrito', 'seccion', 'circuito', 'mesa']
      initializeSimpleSelect('distrito',"{% url 'autocomplete-distrito' %}",[]);
      initializeSimpleSelect('seccion', "{% url 'autocomplete-seccion' %}",['distrito']);
      initializeSimpleSelect('circuito',"{% url 'autocomplete-circuito' %}",['distrito','seccion']);
      $('#distrito_input').on('focusout',function(e){
	  updateField(
	      'distrito',
	      "{% url 'autocomplete-distrito' %}",
	      []
	  );
      });
      $('#seccion_input').on('focusout',function(e){
	  updateField(
	      'seccion',
	      "{% url 'autocomplete-seccion' %}",
	      ['distrito']
	  )});
      $('#circuito_input').on('focusout',function(e){
	  updateField(
	      'circuito',
	      "{% url 'autocomplete-circuito' %}",
	      ['distrito','seccion']
	  )});
  });
</script>
{% endblock messages %}
