{% extends "fiscales/base.html" %}
{% load i18n material_form material_frontend %}

{% block page_title %}Subir actas{% endblock %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">

  .left-panel {
      flex-basis: 60%;
      margin-left: 0.375rem;
  }

  .right-panel {
      flex-basis: 40%;
      margin-left: 0.375rem;
  }

  .scroll {
      height: 335px;
      overflow-x: auto;
      overflow-x: hidden;
  }

</style>

{% endblock %}

{% block left-panel %}
<div class="card">

    <div class="card-content">

        <div class="card-title">{% block card-title %}
            Subir actas
            {% endblock card-title %}</div>

        <form action="{{ url_to_post }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {# FIXME django-material desactiva el atributo multiple del filefield #}
            {% form form=form %}{% endform %}
            <div class="card-action">
                <div class="right-align">
                    {% block submit_row %}
                    <button type="submit" class="waves-effect waves-light btn white-text">Subir</button>
                    {% endblock %}
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}


{% block right-panel %}
<div class="card">
  <div class="card-content">
    <div class="card-title">
      {% if resultados_carga %}
      Resultados de la carga
      {% endif %}
    </div>
    <div class="scroll">
      <ul class="collection" style="box-shadow: none!important; border:0;">
        {% for level, message in resultados_carga %}
            <li class="collection-item" style="box-shadow: none!important; border-bottom:1pt gray solid;">
              {{ message |safe }}
              <span class="badge">
                  {% if level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <i class="btn-small material-icons red-text text-lighten-3" >error</i>
                  {% endif %}
                  {% if level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <i class="btn-small material-icons green-text text-lighten-1">done</i>
                  {% endif %}
              </span>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock right-panel %}
