{% extends "adjuntos/agregar-adjuntos.html" %}
{% load i18n material_form material_frontend %}
{% load staticfiles %}
{% block extrahead %}
{{ block.super }}
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{% static 'js/sidenav.js' %}"></script>
<script src="{% static 'js/simpleselect.js' %}"></script>
<script src="{% static 'js/identificacion.js' %}"></script>
<style type="text/css">
.resultado-select{
    border-bottom: none !important;
}

.requerido > label {
    font-weight: 600 !important;
    color: light-gray;
}
</style>
{% block extrajs %}
{% endblock %}
{% endblock %}

{% block page_title %}Subir actas y pre identificarlas{% endblock %}

{% block left-panel %}
<div class="card">

    <div class="card-content">

      <div class="card-title">
	{% block card-title %}
	¿De qué sección/circuito son estas actas?
        {% endblock card-title %}
      </div>
        <form action="{{ url_to_post }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=attachment_form %}{% endform %}

            {% form form=pre_identificacion_form %}{% endform %}
	    
            <div class="card-action">
              <div class="right-align">
                {% block submit_row %}
                <button id="boton-enviar" type="submit" class="waves-effect waves-light btn white-text">Subir</button>
                {% endblock %}
              </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}
{% block messages %}
{{ block.super }}
<script type="text/javascript">
  var url_distrito = "{% url 'autocomplete-distrito' %}";
  var url_seccion  = "{% url 'autocomplete-seccion' %}";
  var url_circuito = "{% url 'autocomplete-circuito' %}";
  var fields = [
      ['distrito', updateDistrito(url_distrito),url_distrito,[]],
      ['seccion',  updateSeccion(url_seccion),url_seccion,['distrito']],
      ['circuito', updateCircuito(url_circuito),url_circuito,['distrito','seccion']],
  ];
  $(document).ready(function(){
      $('.modal').modal();
      fields.map(e => initializeSimpleSelect(e[0],e[2],e[3]));
      fields.map(e => $('#'+e[0]+'_input').on("keyup",delay(e[1], 250)));
      $('#distrito_input').attr('tabindex', 1);
      $('#seccion_input').attr('tabindex',  2);
      $('#circuito_input').attr('tabindex', 3);
  });
</script>
{% endblock messages %}
