{% extends "fiscales/base.html" %}
{% load l10n i18n material_form material_frontend %}
{% load staticfiles %}

{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}">{{ object }}</a>
<a class="active">Acta</a>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{% static 'js/sidenav.js' %}"></script>
<script language="javascript">
  function cambioSeccion(event){
      if(event.clean){
	  $(':input[name=circuito]').val(null).trigger('change');
	  $(':input[name=mesa]').val(null).trigger('change');
      }
  }
  function cambioMesa(){
      mesa = $(':input[name=mesa]').val();
      if(mesa){
	  updateField('circuito',"{% url 'autocomplete-circuito' %}");
	  updateField('seccion', "{% url 'autocomplete-seccion' %}");
      }
  }
  function updateField(src,base_url){
      var nro = $(src).val();
      var distrito = $("#id_distrito").val();
      var seccion = $("#id_seccion").val();
      var circuito = $("#id_circuito").val();
      var mesa = $("#id_mesa").val();
      var params = {'distrito':distrito,'seccion':seccion,'circuito':circuito,'mesa':mesa};
      if(! isFinite(nro)){
	  return null;
      }
      var url = base_url+'?q='+nro+'&forward='+JSON.stringify(params);
    $.ajax({
      	  type: 'GET',
      	  url: url
    }).then(function (data) {
	options = data['results'];
	var op = ""
	if(options.length==1){
	    op = options[0].text;
	}
	else if(options.length<=0){
	    op = "No es un valor válido";
	}
	else {
	    op = "Más de un valor válido";
	}
	$(src).wrap('<span id="'+src+'-content">'+op+'</span>');
    });
  }
</script>
{% block extrajs %}{% endblock %}
{% endblock %}

{% block extrahead %}
<link href={% static "css/select2-materialize.css" %} type="text/css" media="screen" rel="stylesheet">
<style type="text/css">
.content {
  padding-bottom: 0px;
}

.darkroom-image-container {
  overflow: auto;
}

.left-panel {

  flex-basis: 30%;
  margin-left: 0.375rem; }
  .left-panel.wide {
    flex-basis: 100%;
    margin-right: 0.375rem; }
  .left-panel > .card {
    margin-bottom: 0.375rem; }


.left-panel > .input_field input{
  height: 2rem;
}

.right-panel {
  flex-basis: 70%;
  min-width: 350px;
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}
.right-panel > .card {
    margin-bottom: 0.5rem;
}


@media only screen and (max-width: 993px) {
  .left-panel {
    flex-basis: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .left-panel > .card {
    margin-top: 1px;
  }
}

</style>
<script type="text/javascript">
$(document).ready(function() {
  // Si hay imagen de acta
  var $container = $('.darkroom-container');
  if ($container.length) {
    // Actualizar el alto de la imagen a lo disponible
    var padding = 24;
    $('html, body').css('overflowY', 'hidden');
    var darkroomHeight = $(window).height() - $container.offset().top - padding * 2;
    $container.height(darkroomHeight);

    // Actualizar el alto del left panel
    var $leftPanel = $('.left-panel .card');
    var leftPanelHeight = $(window).height() - $leftPanel.offset().top - padding;
    $('.left-panel .card')
      .css('max-height', leftPanelHeight)
      .css('overflowY', 'auto');
  }
});
</script>
{% endblock %}


{% block page_title %}Clasificar fotos de actas{% endblock %}

{% block left-panel %}
  <div class="card">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-content">
            {% block card-content %}
              <div class="card-title">¿De qué mesa es esta acta?</div> 
              {% form form=form %}
	      {% endform %}
            {% endblock card-content %}
          </div>
          <div class="card-action">
            {% block card-action %}
              <div class="right-align">
                  <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="5">
                      Guardar
                  </button>
                  <a  class="waves-effect waves-light btn white-text modal-trigger red" href="#modal-problem" id="btn-problema">
                      Problema
	                </a>
              </div>
            {% endblock card-action %}
          </div>
      </form>
  </div>
  {% if recibir_problema %}
  {% include "problemas/problema.html" %}
  {% endif %}
{% endblock left-panel %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/darkroom.css' %}" />
{% endblock %}



{% block right-panel %}
    <div class="acta card">
        <div class="card-content">
            <img id="target" src="{{ attachment.foto.thumbnail.960x.url }}">

            <script src="{% static 'js/fabric.js' %}"></script>
            <script src="{% static 'js/darkroom.js' %}"></script>
            <script>
            new Darkroom('#target', {
              plugins: {
                save: {
                  callback: function() {
                    var newImage = this.darkroom.canvas.toDataURL();
                    $.post("{% url 'editar-foto' attachment.id %}", {data: newImage}, function(data){
                       M.toast({ html: data.message});
                    })
                  }
                }
              }
            });
            </script>
        </div>
    </div>
{% endblock right-panel %}

{% block messages %}
{{ block.super }}
<script type="text/javascript">
  $(document).ready(function(){
      $('#id_distrito').attr('tabindex', 1);
      $('#id_seccion').attr('tabindex', 2);
      $('#id_circuito').attr('tabindex', 3);
      $('#id_mesa').attr('tabindex', 4);
      $('.modal').modal();
      $('#id_distrito').on('blur',function(e){
	  updateField(
	      '#id_distrito',
	      "{% url 'autocomplete-distrito' %}"
	  )});
      $('#id_seccion').on('blur',function(e){
	  updateField(
	      '#id_seccion',
	      "{% url 'autocomplete-seccion' %}",
	  )});
      $('#id_circuito').on('blur',function(e){
	  updateField(
	      '#id_circuito',
	      "{% url 'autocomplete-circuito' %}"
	  )});
      $('#id_mesa').on('blur',function(e){
	  updateField(
	      '#id_mesa',
	      "{% url 'autocomplete-mesa' %}"
	  )});
  });
</script>

{% endblock messages %}
