{% extends "fiscales/base.html" %}
{% load i18n material_form material_frontend %}
{% load staticfiles %}

{% block breadcrumbs_items %}
<a href="{{ object.get_absolute_url }}">{{ object }}</a>
<a class="active">Acta</a>
{% endblock %}


{% block extrahead %}
    <style type="text/css">


.acta {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.left-panel {

  flex-basis: 30%;
  margin-left: 0.375rem; }
  .left-panel.wide {
    flex-basis: 100%;
    margin-right: 0.375rem; }
  .left-panel > .card {
    margin-bottom: 0.375rem; }


.left-panel > .input_field input{
  height: 2rem;
}

.right-panel {
  flex-basis: 70%;
  min-width: 300px;
  margin-left: 0.375rem;
  margin-right: 0.375rem; }
  .right-panel > .card {
    margin-bottom: 0.5rem; }


@media only screen and (max-width: 993px) {
  .left-panel {
    flex-basis: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .left-panel > .card {
    margin-top: 1px; }


    </style>
{% endblock %}


{% block page_title %}Clasificar fotos de actas{% endblock %}

{% block left-panel %}

    <div class="card">
       <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-content">

          {% block card-content %}

            <div class="card-title">¿De qué mesa es esta acta?</div>

                  {% form %}
                  {% endform %}
            </div>
          {% endblock card-content %}


        <div class="card-action">
            {% block card-action %}
            <div class="right-align">

               <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="{{ button_tabindex }}">
                  Guardar
               </button>
            </div>
            {% endblock card-action %}
        </div>

       </form>
    </div>

  {% block extra_form %}

<div class="card">
       <form method="POST" action="{% url 'asignar-problema' attachment.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-content">

            <div class="card-title">¿Hay un problema?</div>
                  {% form form=form_problema %}
                  {% endform %}
            </div>

        <div class="card-action">
            <div class="right-align">
               <button class="btn waves-effect waves-light btn white-text" type="submit" tabindex="{{ button_tabindex }}">
                  Reportar
               </button>
            </div>
        </div>

       </form>
    </div>

  {% endblock extra_form %}


{% endblock left-panel %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/darkroom.css' %}" />

 {% endblock %}



{% block right-panel %}
    <div class="acta card">

        <div class="card-content" >
           <a href="{{ attachment.foto.url }}" target="new">ampliar</a>
           <img id="target" class="responsive-img" src="{{ attachment.foto.thumbnail.960x.url }}">

          <script src="{% static 'js/fabric.js' %}"></script>
          <script src="{% static 'js/darkroom.js' %}"></script>

          <script>
            new Darkroom('#target', {
              plugins: {
                save: {
                  callback: function() {
                    this.darkroom.selfDestroy();
                    var newImage = this.darkroom.canvas.toDataURL();
                    $.post("{% url 'editar-foto' attachment.id %}", {data: newImage}, function(data){
                       Materialize.toast(data.message);
                    })
                  }
                }
              }
            });
          </script>
        </div>



    </div>
{% endblock right-panel %}

{% block messages %}
{{ block.super }}

<script type="text/javascript">
   $(document).ready(function(){

    // TODO refactorear esto para modularizar en una funcion.


    $('#id_distrito').change(function () {
      // rellena el dropdown de secciones
      value = $(this).val();
      $.ajax({
              type: "GET",
              url: "{% url 'autocomplete-seccion' %}",
              data: { 'parent_id': value },
              success: function(data){
                  $("#id_seccion option:gt(0)").remove();
                  $.each(data.options, function(i, d) {
                      $('#id_seccion').append('<option value="' + d.value + '">' + d.text + '</option>');
                  });
                  // actualiza el widget de materialize
                  $('#id_seccion').formSelect();
              }
          });
    });

    $('#id_seccion').change(function () {
      // rellena el dropdown de secciones
      value = $(this).val();
      $.ajax({
              type: "GET",
              url: "{% url 'autocomplete-circuito' %}",
              data: { 'parent_id': value },
              success: function(data){
                  $("#id_circuito option:gt(0)").remove();
                  $.each(data.options, function(i, d) {
                      $('#id_circuito').append('<option value="' + d.value + '">' + d.text + '</option>');
                  });
                  // actualiza el widget de materialize
                  $('#id_circuito').formSelect();
              }
          });
    });


    $('#id_circuito').change(function () {
      // rellena el dropdown de secciones
      value = $(this).val();
      console.log(value);
      $.ajax({
              type: "GET",
              url: "{% url 'autocomplete-mesa' %}",
              data: { 'parent_id': value },
              success: function(data){
                  $("#id_mesa option:gt(0)").remove();
                  $.each(data.options, function(i, d) {
                      $('#id_mesa').append('<option value="' + d.value + '">' + d.text + '</option>');
                  });
                  // actualiza el widget de materialize
                  $('#id_mesa').formSelect();
              }
          });
    });

  });
</script>
{% endblock messages %}
