<script>
function buildDistritoAutocomplete(childAutocomplete) {
    var autocomplete = buildAutocomplete('id_distrito', null, childAutocomplete);
  autocomplete.valuesMap = getValuesMapForOption($('#id_distrito option'));
  autocomplete.component.updateData(getAutocompleteData(autocomplete.valuesMap));
  return autocomplete;
}

function presetOption(fieldId, text){
      inp = $('#'+fieldId+'-autocomplete')[0];
      inp.M_Autocomplete.options.onAutocomplete(text);
      inp.value = text;
      $('label[for="'+fieldId+'-autocomplete"]').text('');
}
  
$(document).ready(function() {
    var mesaAutocomplete = buildAutocomplete('id_mesa', '{% url 'autocomplete-mesa' %}', null,null);
    var circuitoAutocomplete = buildAutocomplete('id_circuito', '{% url 'autocomplete-circuito' %}', mesaAutocomplete,null);
    var seccionAutocomplete = buildAutocomplete('id_seccion', '{% url 'autocomplete-seccion' %}', circuitoAutocomplete,null);
    var distritoAutocomplete = buildDistritoAutocomplete(seccionAutocomplete);    
    // Borrar los <select> generados por django
    $('.remove').remove();
    {% if distrito_precargado %}
    presetOption('id_distrito','{{distrito_precargado}}');
    $('#id_seccion-autocomplete')[0].focus()
    {% if seccion_precargada %}
    $(document).ajaxComplete(function( event, xhr, settings ) {
       if ( settings.url.startsWith("{% url 'autocomplete-seccion' %}")) {
	   presetOption('id_seccion','{{seccion_precargada}}');
	   $('#id_circuito-autocomplete')[0].focus()
       }
    });
    {% if circuito_precargado %}
    $(document).ajaxComplete(function( event, xhr, settings ) {
       if ( settings.url.startsWith("{% url 'autocomplete-circuito' %}")) {
	   presetOption('id_circuito','{{circuito_precargado}}');
       }
	$('#id_mesa-autocomplete')[0].focus()
    });
    {% endif %}
    {% endif %}
    {% endif %}
    
});
</script>
{{ form.non_field_errors }}
{% for field in form %}
    <div class="input-field col s12">
      {{ field.errors }}
      <i class="material-icons prefix small">textsms</i>
      <input type="hidden" id="{{field.auto_id}}" name="{{field.html_name}}">
      <input type="text" id="{{field.auto_id}}-autocomplete" name="{{field.html_name}}-autocomplete" class="autocomplete" tabindex="{{forloop.counter}}" autocomplete="off" required>
      <label for="{{field.auto_id}}-autocomplete">{{field.label}}</label>
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      <div class="remove">
        {{ field }}
      </div>
    </div>
{% endfor %}
