{% extends "fiscales/base.html" %}

{% block page_title %}Clasificar actas{% endblock %}

{% block left-panel %}
<div class="card">

    <div class="card-content">

        <div class="card-title">
            {% block card-title %}
                {% if decision == "mesa" %}
                    Se asignó la imagen a la mesa {{ contenido }}
                {% else %}
                    Se indicó el siguiente problema en la imagen: {{ contenido }}
                {% endif %}
            {% endblock card-title %}
        </div>

        <p></p>

        {% url 'siguiente-accion' as url %}
        <a href="{{ url }}" class="btn waves-effect waves-light btn white-text" id="theLink">Siguiente acción</a>

    </div>
</div>

<script>
    document.getElementById("theLink").focus()
</script>
{% endblock %}
