{% extends "fiscales/base.html" %}

{% block page_title %}Clasificar actas{% endblock %}

{% block left-panel %}
      <div class="card">

        <div class="card-content">

            <div class="card-title">{% block card-title %}
                No hay actas para clasificar por el momento
            {% endblock card-title %}</div>

            <p><b>Por favor, refrescá esta página en unos instantes. Sé paciente, las actas tardan en llegar pero llegan.</b></p><br>
            <p>Mientras tanto, podés ir viendo <a href="https://www.youtube.com/watch?v=n1osvzuFx7I" target="_blank">nuestro video explicativo</a> y sumarte a <a href="http://tinyurl.com/validadores" target="_blank">nuestro canal de Telegram</a> para enterarte de todas las novedades.</p><br>
            <p>Ante cualquier duda, tenés la burbujita abajo de tu pantalla. <b>Respondemos todas las consultas pero recordá que se trata de un esfuerzo militante, así que desde ya agradecemos tu paciencia :)</b> </p>

            <a href="." class="btn waves-effect waves-light btn white-text">Refrescar</a>

        </div>
        </div>
{% endblock %}
